include ../../mixins/product-helpers

mixin tickRow(label, model)
  tr
    th= label
    td.text-center(ng-repeat='product in products')
      +tick(model)

mixin textRow(label, model)
  tr
    th= label
    td.text-center(ng-repeat='product in products')
      | {{ #{model} || '-' }}

mixin textLineIf(label, model, placeholder)
  div(ng-if='#{model}') #{label}
  if placeholder
    div(ng-if='!#{model}') -

mixin textOrPlaceholder(label, model)
  div(ng-if='#{model}') #{label}
  div(ng-if='!#{model}') -

mixin listLines(model)
  div(ng-if='#{model}.length', ng-repeat='item in #{model}') {{ item }}
  div(ng-if='!#{model}.length') -

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Comparing {{ products.length }} {{ products[0].type | type | lowercase }} products

.modal-body
  table.table.table-striped
    thead
      tr
        th
        th.text-center(ng-repeat='product in products') {{ product.name }}
    tbody
      tr
        th Average rating
        th.text-center(ng-repeat='product in products')
          div.ratings.fade(rating, ng-model="product.ratings.average", max="5", readonly="true", ng-class='{ in: product.ratings.total }')
      +tickRow('Discontinued', 'product.discontinued')
      +tickRow('Ready-made vocabularies', 'product.features.premadeVocabularies')
      tr
        th Operating systems
        td.text-center(ng-repeat='product in products')
          +listLines('product.operatingSystems')

      +textRow('Message levels', 'product.features.messageLevels')
      +tickRow('Can be locked to communication software', 'product.features.dedicated')
      tr
        th Mobile phone capabilities
        td.text-center(ng-repeat='product in products')
          +textLineIf('In-built SIM', 'product.features.mobilePhone.mobilePhoneSIM')
          +textLineIf('Phone required', 'product.features.mobilePhone.mobilePhoneRequired')
          +textLineIf('-', '!product.features.mobilePhone.mobilePhoneSIM && !product.features.mobilePhone.mobilePhoneRequired')
      tr
        th Guide price
        td.text-center(ng-repeat='product in products')
          +textLineIf('£{{ product.features.price.gbp }} (GBP)', 'product.features.price.gbp')
          +textLineIf('${{ product.features.price.aud }} (AUS)', 'product.features.price.aud')
          +textLineIf('${{ product.features.price.usd }} (USD)', 'product.features.price.usd')
          +textLineIf('€{{ product.features.price.euro }} (EUR)', 'product.features.price.euro')

      +textRow('Battery life (hours)', 'product.features.battery.batteryLife')
      tr
        th Mounting
        td.text-center(ng-repeat='product in products')
          +textLineIf('Daessy', 'product.features.mountingOptions.daessy')
          +textLineIf('Rehadapt', 'product.features.mountingOptions.rehadapt')
          +textLineIf('Table stand available', 'product.features.mountingOptions.tableStand')
          +textLineIf('Carrying strap available', 'product.features.mountingOptions.carryingStrap')
          +textLineIf('-', '!product.features.mountingOptions.daessy && !product.features.mountingOptions.rehadapt && !product.features.mountingOptions.tableStand && !product.features.mountingOptions.carryingStrap')
      tr
        th Size (mm)
        td.text-center(ng-repeat='product in products')
          div(ng-if='product.features.dimensions.height && product.features.dimensions.width && product.features.dimensions.depth') {{ product.features.dimensions.height }} x {{ product.features.dimensions.width }} x {{ product.features.dimensions.depth }}
          div(ng-if='!product.features.dimensions.height || !product.features.dimensions.width || !product.features.dimensions.depth') -

      tr
        th Weight (kg)
        td.text-center(ng-repeat='product in products') {{ product.features.dimensions.weight || '-' }}

      tr
        th Screen size (inches)
        td.text-center(ng-repeat='product in products') {{ product.features.dimensions.screenSize || '-' }}

      tr
        th Access methods supported
        td.text-center(ng-repeat='product in products')
          +textLineIf('Touch', 'product.features.accessMethods.touch')
          +textLineIf('Mouse or alternative', 'product.features.accessMethods.mouseOrAlternative')
          +textLineIf('Eye gaze', 'product.features.accessMethods.eyegaze')
          +textLineIf('Switch', 'product.features.accessMethods.switch')
          +textLineIf('-', '!product.features.accessMethods.touch && !product.features.accessMethods.mouseOrAlternative && !product.features.accessMethods.eyegaze && !product.features.accessMethods.switch')

