include ../../mixins/product-helpers

mixin tickRow(label, model)
  tr
    th= label
    td.text-center(ng-repeat='product in products')
      +tick(model)

mixin textRow(label, model)
  tr
    th= label
    td.text-center(ng-repeat='product in products')
      | {{ #{model} || 'N/A' }}

mixin textLineIf(label, model)
  div(ng-if='#{model}') #{label}

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Comparing {{ products.length }} {{ products[0].type | type | lowercase }} products

.modal-body
  h1

  table.table.table-striped
    thead
      tr
        th
        th.text-center(ng-repeat='product in products') {{ product.name }}
    tbody
      tr
        th Average rating
        th.text-center(ng-repeat='product in products')
          div.ratings.fade(rating, ng-model="product.ratings.average", max="5", readonly="true", ng-class='{ in: product.ratings.total }')
      +tickRow('Discontinued', 'product.discontinued')
      +tickRow('Ready-made vocabularies', 'product.features.premadeVocabularies')
      +tickRow('Operating systems', 'product.features.operatingSystems')
      +textRow('Message levels', 'product.features.messageLevels')
      +tickRow('Can be locked to communication software', 'product.features.dedicated')
      tr
        th Mobile phone capabilities
        td.text-center(ng-repeat='product in products')
          +textLineIf('In-built SIM', 'product.features.mobilePhone.mobilePhoneSIM')
          +textLineIf('Phone required', 'product.features.mobilePhone.mobilePhoneRequired')
          +textLineIf('N/A', '!product.features.mobilePhone.mobilePhoneSIM && !product.features.mobilePhone.mobilePhoneRequired')
      tr
        th Guide price
        td.text-center(ng-repeat='product in products')
          +textLineIf('£{{ product.features.price.gbp }} (GBP)', 'product.features.price.gbp')
          +textLineIf('${{ product.features.price.aud }} (AUS)', 'product.features.price.aud')
          +textLineIf('${{ product.features.price.usd }} (USD)', 'product.features.price.usd')
          +textLineIf('€{{ product.features.price.euro }} (EUR)', 'product.features.price.euro')

      +textRow('Battery life (hours)', 'product.features.battery.batteryLife')
      tr
        th Mounting
        td.text-center(ng-repeat='product in products')
          +textLineIf('Daessy', 'product.features.mountingOptions.daessy')
          +textLineIf('Rehadapt', 'product.features.mountingOptions.rehadapt')
          +textLineIf('Table stand available', 'product.features.mountingOptions.tableStand')
          +textLineIf('Carrying strap available', 'product.features.mountingOptions.carryingStrap')
          +textLineIf('N/A', '!product.features.mountingOptions.daessy && !product.features.mountingOptions.rehadapt && !product.features.mountingOptions.tableStand && !product.features.mountingOptions.carryingStrap')
