mixin input(model, type, id, label, requiredForm)
  if requiredForm
    .form-group(ng-class='{ "has-success": #{requiredForm}.#{id}.$valid && #{requiredForm}.$submitted,\
    "has-error": #{requiredForm}.#{id}.$invalid && #{requiredForm}.$submitted }')
      label.control-label.col-sm-2(for="#{id}") #{label}
      .col-sm-10
        input.form-control(id='#{id}', name='#{id}', type='#{type}', ng-model='#{model}.#{id}', required)
        p.help-block(ng-show='#{requiredForm}.#{id}.$error.required && #{requiredForm}.$submitted')
          | #{label} is required
  else
    .form-group
      label.control-label.col-sm-2(for="#{id}") #{label}
      .col-sm-10
        input.form-control(id='#{id}', name='#{id}', type='#{type}', ng-model='#{model}.#{id}')

mixin url(model, type, id, label, requiredForm)
  if requiredForm
    .form-group(ng-class='{ "has-success": #{requiredForm}.#{id}.$valid && #{requiredForm}.$submitted,\
    "has-error": #{requiredForm}.#{id}.$invalid && #{requiredForm}.$submitted }')
      label.control-label.col-sm-2(for="#{id}") #{label}
      .col-sm-10
        input.form-control(http-prefix, id='#{id}', name='#{id}', type='url', ng-model='#{model}.#{id}', required)
        p.help-block(ng-show='#{requiredForm}.#{id}.$error.required && #{requiredForm}.$submitted')
          | #{label} is required
  else
    .form-group
      label.control-label.col-sm-2(for="#{id}") #{label}
      .col-sm-10
        input.form-control(http-prefix, id='#{id}', name='#{id}', type='url', ng-model='#{model}.#{id}')

mixin textarea(model, id, label, requiredForm)
  if requiredForm
    .form-group(ng-class='{ "has-success": #{requiredForm}.#{id}.$valid && #{requiredForm}.$submitted,\
    "has-error": #{requiredForm}.#{id}.$invalid && #{requiredForm}.$submitted }')
      label.control-label.col-sm-2(for="#{id}") #{label}
      .col-sm-10
        textarea.form-control(rows='5', id='#{id}', name='#{id}', type='#{type}', ng-model='#{model}.#{id}', required)
        p.help-block(ng-show='#{requiredForm}.#{id}.$error.required && #{requiredForm}.$submitted')
          | #{id} is required
  else
    .form-group
      label.control-label.col-sm-2(for="#{id}") #{label}
      .col-sm-10
        textarea.form-control(id='#{id}', name='#{id}', type='text', ng-model='#{model}.#{id}')

mixin radio(model, id, value, label, required)
  div.radio
    label
      input(type='radio', ng-model='#{model}.#{id}', name='#{id}', value='#{value}', ng-required='#{required}')
      | #{label}

mixin checkbox(model, id, label)
  div.checkbox
    label
      input(type='checkbox', name='#{id}', ng-model='#{model}.#{id}')
      | #{label}

mixin switch(model, id)
  div.btn-group.btn-group-switch
    label.btn.btn-primary(ng-model='#{model}.#{id}', btn-checkbox btn-checkbox-true="false") No
    label.btn.btn-primary(ng-model='#{model}.#{id}', btn-checkbox btn-checkbox-true="true") Yes

mixin defaultedSwitch(model, id)
  div.btn-group.btn-group-switch
    label.btn.btn-primary(ng-model='#{model}.#{id}', ng-init='#{model}.#{id} = #{model}.#{id} || false', btn-checkbox btn-checkbox-true="false") No
    label.btn.btn-primary(ng-model='#{model}.#{id}', btn-checkbox btn-checkbox-true="true") Yes
