mixin productDetails()
  +input('product', 'text', 'name', 'Name', 'form')
  +textarea('product', 'description', 'Description', 'form')
  .form-group
    label.col-sm-2.control-label(for='discontinued') Discontinued
    .col-sm-10
      +switch('product', 'discontinued')
  .form-group
    label.col-sm-2.control-label(for='supplier') Suppliers
    .col-sm-10
      ui-select(multiple, search-enabled, reset-search-input='true', ng-model="product.suppliers")
        ui-select-match(placeholder="Select a supplier") {{$item.name}}
        ui-select-choices(repeat="item in supplierOptions | filter: $select.search", refresh='refreshSuppliers($select.search)', refresh-delay='500')
          div {{item.name}}

mixin productImages()
  .panel.panel-default
    .panel-heading Product Images
    .panel-body
      table.table.table-striped(ng-show='product.images.length')
        thead
          tr
            th.preview Preview
            th Summary
            th.actions Actions
        tbody
          tr(ng-repeat='item in product.images')
            td: img.img-responsive.img-thumbnail(ng-src='{{ item.url }}')
            td: input.form-control(ng-model='item.summary')
            td.actions
              a(href='#', ng-click='images.remove(item)'): span.glyphicon.glyphicon-trash
          tr(ng-repeat='file in imagesToUpload', ng-hide='file.complete')
            td(colspan='3')
              progressbar(ng-if='!file.complete', value='file.progress')

      div.text-center
        a.btn.btn-primary(ng-file-select, ng-model='imagesToUpload', ng-multiple='true') Add images

<!-- Shared: Access method questions -->
mixin accessMethodOptions(dependsOn)

  .panel.panel-default(ng-show='product.features.#{dependsOn}', destroy='#{dependsOn}MinimumTarget')
    .panel-heading Is there a minimum target size?
    .panel-body
      +switch('product.features', dependsOn + 'MinimumTarget')

      .panel.panel-default(ng-show='product.features.#{dependsOn} && product.features.#{dependsOn}MinimumTarget', destroy='#{dependsOn}MinimumTargetSize')
        .panel-heading What is this size? (mm)
        .panel-body
          div(ng-class='{ "has-success": form.#{dependsOn}MinimumTargetSize.$valid && form.$submitted,\
          "has-error": form.#{dependsOn}MinimumTargetSize.$invalid && form.$submitted }')
            input.form-control(id='#{dependsOn}MinimumTargetSize', name='#{dependsOn}MinimumTargetSize', type='number', ng-model='product.features.#{dependsOn}MinimumTargetSize', ng-required='product.features.#{dependsOn} && product.features.#{dependsOn}MinimumTarget', min='5')
            p.help-block(ng-show='form.#{dependsOn}MinimumTargetSize.$error.required && form.$submitted')
                | Minimum target size is required
            p.help-block(ng-show='form.#{dependsOn}MinimumTargetSize.$error.min && form.$submitted')
                | Minimum target size should be greater than 5


  .panel.panel-default(ng-show='product.features.#{dependsOn}', destroy='#{dependsOn}MaximumLocations')
    .panel-heading What is the maximum number of locations per page?
    .panel-body
      input.form-control(type='number', ng-model='product.features.#{dependsOn}MaximumLocations')

mixin price()
  .panel.panel-default
    .panel-heading Guide price
    .panel-body
      +input('product.features.price', 'number', 'gbp', 'GBP (£)')
      +input('product.features.price', 'number', 'aud', 'AUD ($)')
      +input('product.features.price', 'number', 'usd', 'USD ($)')
      +input('product.features.price', 'number', 'euro', 'Euro (€)')

  .panel.panel-default
    .panel-heading Associated Costs
    .panel-body
      textarea.form-control(ng-model='product.features.associatedCosts')

mixin enviroControl()
  .panel.panel-default
    .panel-heading Enviro Control capabilities
    .panel-body
      +radio('product.features', 'enviroControl', 'built-in', 'Built-in')
      textarea.form-control(ng-show='product.features.enviroControl === "built-in"', destroy='enviroControlDetails', ng-model='product.features.enviroControlDetails')
      +radio('product.features', 'enviroControl', 'additional', 'Additional hardware available')
      textarea.form-control(ng-show='product.features.enviroControl === "additional"', destroy='enviroControlDetails', ng-model='product.features.enviroControlDetails')
      +radio('product.features', 'enviroControl', '', 'None')

mixin accessMethods()
  .panel.panel-default
    .panel-heading What access method is this designed for? (multiple allowed)
    .panel-body
      <!-- Touch -->
      +checkbox('product.features', 'accessMethodTouch', 'Touch')
      .panel.panel-default(ng-show='product.features.accessMethodTouch', destroy='accessMethodTouchType')
        .panel-heading Touch screen
        .panel-body
          +radio('product.features', 'accessMethodTouchType', 'resistive', 'Resisitive')
          +radio('product.features', 'accessMethodTouchType', 'capacitive', 'Capacitive')
      .panel.panel-default(ng-show='product.features.accessMethodTouch', destroy='accessMethodTouchRequireGestures')
        .panel-heading Are specialist gestures etc required to control the device?
        .panel-body
          +switch('product.features', 'accessMethodTouchRequireGestures')

      .panel.panel-default(ng-show='product.features.accessMethodTouch', destroy='touchFeatures')
        .panel-heading What Touch features are available?
        .panel-body
          +checkbox('product.features.touchFeatures', 'acceptOnEnter', 'Accept on Enter')
          +checkbox('product.features.touchFeatures', 'acceptOnExit', 'Accept on Exit')
          +checkbox('product.features.touchFeatures', 'holdTime', 'Hold time')
          +checkbox('product.features.touchFeatures', 'debounce', 'Debounce')
          +checkbox('product.features.touchFeatures', 'auditoryFishing', 'Auditory fishing')
          +checkbox('temp', 'touchFeaturesOther', 'Other')
          textarea.form-control(ng-show='temp.touchFeaturesOther', destroy='touchFeaturesOtherDetails', ng-model='product.features.touchFeaturesOtherDetails')

      +accessMethodOptions('accessMethodTouch')

      <!-- Mouse or alternative -->
      +checkbox('product.features', 'accessMethodMouseOrAlternative', 'Mouse or Mouse alternative e.g. Joystick')
      +accessMethodOptions('accessMethodMouseOrAlternative')
      <!-- Eyegaze -->
      +checkbox('product.features', 'accessMethodEyegaze', 'Eyegaze')
      .panel.panel-default(ng-show='product.features.accessMethodEyegaze', destroy='accessMethodEyeGazePause')
        .panel-heading Pause on-screen or off-screen?
        .panel-body
          +radio('product.features', 'accessMethodEyeGazePause', 'on-screen', 'On-screen')
          +radio('product.features', 'accessMethodEyeGazePause', 'off-screen', 'Off-screen')

      +accessMethodOptions('accessMethodEyegaze')
      <!-- Switch -->
      +checkbox('product.features', 'accessMethodSwitch', 'Switch')
      .panel.panel-default(ng-show='product.features.accessMethodSwitch', destroy='accessMethodSwitchOptions')
        .panel-heading What scanning options are available (without additional software)
        .panel-body
          +checkbox('product.features', 'accessMethodSwitchOptions.crosshair', 'Crosshair')
          +checkbox('product.features', 'accessMethodSwitchOptions.columnRow', 'Column Row')
          +checkbox('product.features', 'accessMethodSwitchOptions.rowColumn', 'Row Column')
          +checkbox('product.features', 'accessMethodSwitchOptions.block', 'Block')
          +checkbox('product.features', 'accessMethodSwitchOptions.quartered', 'Quartered')
          +checkbox('product.features', 'accessMethodSwitchOptions.morse', 'Morse')

<!-- Shared: Hardware -->
mixin sharedHardware()

  +price()

  .panel.panel-default
    .panel-heading Support &amp; Warranty
    .panel-body
      +textarea('product.features', 'supportOptions', 'Support options')
      +textarea('product.features', 'warrantyOptions', 'Warranty options')

  .panel.panel-default
    .panel-heading Battery
    .panel-body
      +input('product.features.battery', 'number', 'batteryLife', 'Battery life (hours)')
      +textarea('product.features.battery', 'spareBatteryOptions', 'Spare battery options')

  .panel.panel-default
    .panel-heading Mounting options
    .panel-body
      +checkbox('product.features.mountingOptions', 'daessy', 'Daessy')
      +checkbox('product.features.mountingOptions', 'rehadapt', 'Rehadapt')
      +checkbox('product.features.mountingOptions', 'tableStand', 'Table stand available')
      +checkbox('product.features.mountingOptions', 'carryingStrap', 'Carrying strap available')

      +checkbox('temp', 'mountingOther', 'Other')
      textarea.form-control(ng-show='temp.mountingOther', destroy='mountingOtherDetails', ng-model='product.features.mountingOtherDetails')

  .panel.panel-default
    .panel-heading Dimensions
    .panel-body
      +input('product.features.dimensions', 'number', 'weight', 'Weight (kg)')
      +input('product.features.dimensions', 'number', 'depth', 'Depth (mm)')
      +input('product.features.dimensions', 'number', 'height', 'Height (mm)')
      +input('product.features.dimensions', 'number', 'width', 'Width (mm)')
      +input('product.features.dimensions', 'number', 'screenSize', 'Screen size (inches)')
      .panel.panel-default
        .panel-heading Are these dimensions with a case?
        .panel-body
          +switch('product.features.dimensions', 'sizeIncludingCase')

  +enviroControl()
  +accessMethods()


mixin addLinks(id, label)
  .panel.panel-default
    .panel-heading #{label}
    .panel-body
      table.table.table-striped(ng-show='product.features.#{id}.length')
        thead
          tr
            th Label
            th URL
            th.actions Actions
        tbody
          tr(ng-repeat='item in product.features.#{id} track by $index')
            td {{ item.label }}
            td {{ item.url }}
            td.actions
              a(href='#', ng-click='productLinks.delete("#{id}", $index)'): span.glyphicon.glyphicon-trash

      div(ng-form, name='#{id}Form')
        +input('temp', 'text', id + 'Label', 'Label')
        +url('temp', 'url', id + 'Url', 'URL')
        a.btn.btn-secondary.pull-right(ng-click='productLinks.add("#{id}", #{id}Form)') Add



mixin speechTypeOptions()
  <!-- Speech Type -->
  .panel.panel-default
    .panel-heading Speech type options
    .panel-body
      +checkbox('product.features', 'speechTypeSynthesised', 'Synthesised')
      .panel.panel-default(ng-show='product.features.speechTypeSynthesised', destroy='speechTypeSynthesisedTypes')
        .panel-heading Synthesized speech type options
        .panel-body
          ui-select(multiple, search-enabled, reset-search-input='true', ng-model="product.features.speechTypeSynthesisedTypes")
            ui-select-match(placeholder="Select types") {{$item}}
            ui-select-choices(repeat="item in speechOptions | filter: $select.search")
              div {{ item }}
          .panel.panel-default(ng-show='product.features.speechTypeSynthesisedTypes', destroy='numberOfVoices')
            .panel-heading Total voices
            .panel-body
              input.form-control(type='number', ng-model='product.features.numberOfVoices', min='0')
      +checkbox('product.features', 'speechTypeRecorded', 'Recorded')

mixin imageRepresentationSupported()
  <!-- Image Representation Supported -->
  .panel.panel-default
    .panel-heading Image representation supported
    .panel-body
      +checkbox('product.features.imageRepresentation', 'photos', 'Photos')
      +checkbox('product.features.imageRepresentation', 'symbols', 'Symbols')
      .panel.panel-default(ng-show='product.features.imageRepresentation.symbols', destroy='')
        .panel-heading Symbol systems supported
        .panel-body
          ui-select(multiple, search-enabled, reset-search-input='true', ng-model="product.features.symbols")
            ui-select-match(placeholder="Select symbols") {{$item}}
            ui-select-choices(repeat="item in symbols | filter: $select.search")
              div {{ item }}
      +checkbox('product.features.imageRepresentation', 'videos', 'Videos')

mixin supportedOperatingSystems()
  .panel.panel-default
    .panel-heading Supported operating systems
    .panel-body
      ui-select(multiple, search-enabled, reset-search-input='true', ng-model="product.features.devices")
        ui-select-match(placeholder="Select operating systems") {{$item}}
        ui-select-choices(repeat="item in devices | filter: $select.search")
          div {{ item }}


mixin dedicated()
  .panel.panel-default
    .panel-heading Can I JUST run it as a communication aid and nothing else?
    .panel-body
      +switch('product.features', 'dedicated')

mixin vocabularies()
  <!-- Premade vocabularies -->
  .panel.panel-default
    .panel-heading Any premade vocabularies available?
    .panel-body
      +switch('product.features', 'premadeVocabularies')

      .panel.panel-default(ng-show='product.features.premadeVocabularies', destroy='premadeVocabulariesAvailable')
        .panel-heading Available vocabularies
        .panel-body
          ui-select(multiple, search-enabled, reset-search-input='true', ng-model="product.features.premadeVocabulariesAvailable")
            ui-select-match(placeholder="Select a vocabulary") {{$item.name}}
            ui-select-choices(repeat="item in vocabularyOptions | filter: $select.search", refresh='refreshVocabularies($select.search)', refresh-delay='500')
              div {{item.name}}
