mixin productDetails()
  +input('product', 'text', 'name', 'Name', 'form')
  +textarea('form', 'product', 'text', 'description', 'required')
  .form-group
    label.col-sm-2.control-label(for='discontinued') Discontinued
    .col-sm-10
      +switch('product', 'discontinued')
  .form-group
    label.col-sm-2.control-label(for='supplier') Suppliers
    .col-sm-10
      input(type='hidden', ui-select2='select2Options', ng-model="selectedSuppliers", data-placeholder="Select supplier")

<!-- Shared: Vocabulary access method questions -->
mixin accessMethodOptions(dependsOn)
      
  .panel.panel-default(ng-if='product.features.#{dependsOn}', destroy='#{dependsOn}MinimumTarget')
    .panel-heading Is there a minimum target size?
    .panel-body
      +switch('product.features', dependsOn + 'MinimumTarget')
      
      .panel.panel-default(ng-if='product.features.#{dependsOn} && product.features.#{dependsOn}MinimumTarget', destroy='#{dependsOn}MinimumTargetSize')
        .panel-heading What is this size? (mm)
        .panel-body
          div(ng-class='{ "has-success": form.#{dependsOn}MinimumTargetSize.$valid && form.$submitted,\
          "has-error": form.#{dependsOn}MinimumTargetSize.$invalid && form.$submitted }')
            input.form-control(id='#{dependsOn}MinimumTargetSize', name='#{dependsOn}MinimumTargetSize', type='number', ng-model='product.features.#{dependsOn}MinimumTargetSize', required, min='5')
            p.help-block(ng-show='form.#{dependsOn}MinimumTargetSize.$error.required && form.$submitted')
                | Minimum target size is required
            p.help-block(ng-show='form.#{dependsOn}MinimumTargetSize.$error.min && form.$submitted')
                | Minimum target size should be greater than 5
            
            
  .panel.panel-default(ng-if='product.features.#{dependsOn}', destroy='#{dependsOn}MaximumLocations')
    .panel-heading What is the maximum number of locations per page?
    .panel-body
      input.form-control(type='number', ng-model='product.features.#{dependsOn}MaximumLocations')

<!-- Shared: Hardware -->
mixin sharedHardware()
  .panel.panel-default
    .panel-heading More information
    .panel-body
      table.table.table-striped(ng-show='product.features.moreInformationLinks.length')
        thead
          tr 
            th Label
            th URL
            th.actions Actions
        tbody
          tr(ng-repeat='item in product.features.moreInformationLinks track by $index')
            td {{ item.label }}
            td {{ item.url }}
            td.actions
              a(href='#', ng-click='deleteInformationLink(item)'): span.glyphicon.glyphicon-trash
                
      div(ng-form, name='moreInformationLinksForm')
        +input('text', 'temp', 'moreInformationLabel', 'Label', 'moreInformationLinksForm')
        +input('text', 'temp', 'moreInformationUrl', 'URL', 'moreInformationLinksForm')
        button.btn.btn-secondary.pull-right(ng-click='addMoreInformation(moreInformationLinksForm)') Add
