include ../mixins/form-helpers

mixin productRating(name, label, type)
  .form-group(ng-if='product.type === "#{type}"', ng-class='{ "has-success": form.#{name}.$valid && form.$submitted,\
    "has-error": form.#{name}.$invalid && form.$submitted }')
    label.control-label.col-sm-3(for="#{name}") #{label}
    .col-sm-9
      span.form-rating(rating, ng-model="review.#{name}", min="1", max="5")
      input(type='hidden', name='#{name}', id='#{name}', ng-model='review.#{name}', required='')
      p.help-block(ng-show='form.#{name}.$error.required && form.$submitted')
        | Please select a rating between 1 and 5

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Review

form.form-horizontal(name='form', ng-submit='save(form)', novalidate)
  .modal-body

    // HARDWARE
    +productRating('ratings.reliability', 'Reliability', 'ProductHardware')
    +productRating('ratings.appearance', 'Appearance', 'ProductHardware')
    +productRating('ratings.easeOfUse', 'Ease of use', 'ProductHardware')

    // Vocabulary
    +productRating('ratings.efficiencyOfMessageCreation', 'Efficiency of message creation', 'ProductVocabulary')
    +productRating('ratings.consistencyOfButtonPlacement', 'Consistency of button placement', 'ProductVocabulary')
    +productRating('ratings.userInterface', 'User interface', 'ProductVocabulary')
    +productRating('ratings.depthOfPrestoredLanguage', 'Depth of prestored language', 'ProductVocabulary')

    // LOW TECH
    +productRating('ratings.reliability', 'Reliability', 'ProductLowTech')
    +productRating('ratings.appearance', 'Appearance', 'ProductLowTech')
    +productRating('ratings.easeOfUse', 'Ease of use', 'ProductLowTech')

    // SOFTWARE
    +productRating('ratings.reliability', 'Reliability', 'ProductSoftware')
    +productRating('ratings.easeOfUse', 'Ease of use', 'ProductSoftware')
    +productRating('ratings.easeOfEditing', 'Ease of editing', 'ProductSoftware')


    .form-group(ng-class='{ "has-success": form.comment.$valid && form.$submitted,\
    "has-error": form.comment.$invalid && form.$submitted }')
      label.control-label.col-sm-3(for="#{id}") Comments
      .col-sm-9
        textarea.form-control(rows='5', id='comment', name='comment', ng-model='review.comment', required)
        p.help-block(ng-show='form.comment.$error.required && form.$submitted')
          | Comment is required


  .modal-footer
    button.btn.btn-primary() Create
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
